<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="services.xml" />

    <context:annotation-config/>


    <bean id="client1" class="impl.Client">
        <property name="name" value="Ivan"/>
        <property name="cash" value="5000"/>
        <property name="salary" value="10000"/>
    </bean>
    <bean id="client2" class="impl.Client">
        <property name="name" value="Petr"/>
        <property name="cash" value="500"/>
        <property name="salary" value="10000"/>
    </bean>
    <bean id="client3" class="impl.Client">
        <property name="name" value="Alex"/>
        <property name="cash" value="1500"/>
        <property name="salary" value="10000"/>
    </bean>
    <bean id="client4" class="impl.Client">
        <property name="name" value="Sergey"/>
        <property name="cash" value="3000"/>
        <property name="salary" value="10000"/>
    </bean>

    <util:list id="clientList" scope="singleton" list-class="java.util.ArrayList">
        <ref bean="client1"/>
        <ref bean="client2"/>
        <ref bean="client3"/>
        <ref bean="client4"/>
    </util:list>

    <bean id="monobank" class="impl.BankImpl">
        <property name="name" value="MonoBank"/>
        <property name="clientList" ref="clientList"/>
        <property name="LOG" ref="myLogger" />
    </bean>

</beans>